.createTask {
  display: flex;
  flex-direction: row;
  min-width: 300px;
  justify-content: center;
  gap: 2px;
  margin-bottom: 30px;
  position: relative;

  &__input {
    font-size: 14px;
    color: black;
    padding: 10px;
    height: 40px;
    width: 250px;
    background-color: aliceblue;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #6e6e6e;
    outline: none;
    overflow: hidden;
  }

  &__button {
    padding: 10px 20px;
    background-color: rgb(54, 104, 203);
    border-radius: 10px;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: rgba(54, 54, 203, 0.775);
    }
  }

  &__error-message {
    position: absolute;
    top: 40px;
    left: 25px;
    color: red;
    font-size: 13px;
  }
}
